@font-face {
	font-family: "awesome";
	src: url("../fontawesome-webfont.woff");
}
.symbol{
	font-family: awesome;
	text-decoration: none;
}

.completed > a::before {
    content: " ✓";
}

.canceled a,
.children .inactive,
.requirements .inactive,
.tasks .inactive{
	text-decoration: line-through;
}
