*.db
bookmark
.buildpath
.codelite
coder
company
config.php
contact
document
files
importer
item
logging
mindmap
model
notes
*.phprj
poll
.project
project
rtc
stock
task
time
user
wiki
.settings
.well-known
*.workspace
.*.swp
.dia