.easylist fieldset a p {
    white-space: initial;
    max-height: 0;
    overflow: hidden;
    margin: 8px 0;
    transition: max-height 1s ease-in 1s;
}

.easylist fieldset a:hover p{
    max-height: 500px;
}

@media (max-width: 1000px){
	.task .list tr > :nth-child(3) {
	    display: none;
	}
}

@media (max-width: 900px){
	.view .tasks li span.hover_h,
	.task .list tr > :nth-child(4) {
	    display: none;
	}
}

@media (max-width: 850px){
	.task .list tr > :nth-child(5) {
	    display: none;
	}
	.edit select[name="parent_task_id"]{
		max-width: calc(100vw - 120px);
	}
}

@media (max-width: 700px){
	.task .list tr > :nth-child(2) {
	    display: none;
	}
}





