#main_menu form{
	display: inline;
}

.emphasized{
	font-weight: bold;
}

.requirements label{
	display: block;
}

.children .inactive,
.requirements .inactive,
.tasks .inactive{
	text-decoration: line-through;
}

.tasks .pending a{
	color: gray;
}

table.vertical {
    border-collapse: collapse;
}

table.vertical tr{
	border-width: 0 0 1px;
	border-style: solid;
	border-color: black;
}

table.vertical th{
	text-align: right;
	padding-right: 10px;
}