@font-face {
    font-family: "awesome";
    src: url("fontawesome-webfont.woff");
}

body{
	color: red;
	font-family: sans-serif;
	background-color: black;
}
a{
	color: red;
	text-decoration: none;
}
#main_menu{
	display: inline;
}
#main_menu form{
	display: inline;
}

.hidden{
	display: none;
}

.emphasized{
	font-weight: bold;
}

.requirements{
	max-height: 50px;
	max-width: 200px;
	overflow: hidden;
}

.requirements:hover{
	max-height: 9999px;
	max-width: 9999px;
}

.requirements label{
	display: block;
}

.tasks .completed a,
.tasks .canceled a,
.children .inactive,
.requirements .inactive,
.tasks .inactive{
	text-decoration: line-through;
}

.tasks .pending a{
	color: gray;
}

table {
    border-collapse: collapse;
}
tr{
	background-color: #202020;
}
tr > *{
	padding: 5px 10px;
}
tr:nth-child(5n+1){
	background-color: #303030;
}


td:last-child {
    white-space: nowrap;
}

label.street:after,
label.location::after {
    content: "\a ";
    white-space: pre;
}

.contacts fieldset{
	float: left;
}


.invoice .customer, .invoice .sender {
    float: left;
    width: 45%;
}

fieldset {
    background-color: #101010;
    border-color: red;
    border-radius: 10px;
    border-width: 1px;
}

input,
button {
    background-color: red;
    border: 0 none;
    color: #303030;
    font-weight: bold;
    margin: 2px;
    padding: 5px;
}

input[type="submit"] {
    float: right;
}

.symbol{
	font-family: awesome;
	font-size: 22px;
}

.right{
	float: right;
	margin-left: 5px;
}

.tasks .project {
    font-weight: bold;
}

.right-abs {
    position: absolute;
    right: 5px;
    top: 5px;
}
.hover {
    border: 1px solid red;
    border-radius: 5px;
    max-height: 35px;
    overflow: hidden;
    z-index: 10;
}


.hover:hover {
    max-height: unset;
}

input.price{
	max-width: 60px;
	text-align: right;
}

@media (max-width:1199px) {
	.tasklist tr>*:nth-child(3){
		display: none;
	}
}

@media (max-width: 900px){
	.tasklist tr>*:nth-child(5){
		display: none;
	}
}

@media (max-width: 800px){
	.tasklist tr>*:nth-child(4){
		display: none;
	}
}

@media (max-width: 700px){
	.tasklist tr>*:nth-child(6){
		display: none;
	}
}

@media (max-width: 600px){
	.tasklist tr>*:nth-child(2){
		display: none;
	}
}
