body{
	color: red;
	background-color: black;
}
a{
	color: red;
}

.tasks .pending>a{
	color: gray;
}

.tasks .started>a{
	color: #5bc500;
}

tr{
	background-color: #52525270;
}
tr:nth-child(2n+1){
	background-color: #a7a7a75c;
}

fieldset {
	border-color: red;
}

.button,
input,
button {
    background-color: red;
    color: #303030;
}
.hover{
    background-color: black;
	border-color: red;
}

form.invoice textarea {
   background-color: red;
    color: black;
}

.infos span{
	background-color: #00ad00;
	color: black;
}
.errors span{
	background-color: #ff9847;
	color: black;
}

.warnings span{
	background-color: #ffff00;
	color: black;
}

#announce{
	background-color: black;
}

#main_menu .button:hover {
	color: red;
	background-color: gray;
}
