.arrow{
	stroke: red;
}
circle, ellipse, rect{
	stroke: black;
}
ellipse,
circle.process{
	fill: rgba(255,255,255,0.5);
}
rect.terminal{
	fill: white;
}
circle.connector{
	fill: rgba(0,0,0,0.05);
	stroke: none;
}
circle.connector:hover{
	fill: rgba(0,0,0,0.6);
}

#backdrop{
	fill: transparent;
}

.arrow circle{
	stroke: none;
	fill: rgba(128,128,128,0.5);
}
.arrow text{
	fill: black;
	stroke: none;
}

.arrow:hover circle{
	fill: rgba(255,0,0,0.3);
}

.process text{
	fill: black;
}