body{
	color: black;
	background-color: white;
}
a{
	color: #151567;
}

.tasks .pending>a{
	color: #888888;
}

.completed>a,
.started>a{
	color: #53822c;
}

.canceled>a{
	color: gray;
}

tr{
	background-color: #dadada91;
}
tr:nth-child(2n+1){
	background-color: #b9b9b982;
}

fieldset {
    border-color: black;
}

.button,
input,
button {
    background-color: black;
    color: #d3d3d3;
}
.hover{
    background-color: white;
	border-color: black;
}

form.invoice textarea {
   background-color: black;
    color: white;
}

.infos span{
	background-color: #00ad00;
	color: white;
}
.errors span{
	background-color: #ff9847;
	color: white;
}

.hit,
.warnings span{
	background-color: #ffff00;
	color: black;
}

#announce{
	background-color: white;
}

#main_menu .button:hover {
	color: white;
	background-color: gray;
}

tr:hover td{
	background-color: #edf9f9;
}

code {
	background-color: black;
	color: lime;
}