.arrow{
	stroke: blue;
}
circle, ellipse, rect{
	stroke: black;
}
ellipse,
circle.process{
	fill: rgba(255,255,255,0.5);
}
rect.terminal{
	fill: white;
}
circle.connector{
	fill: rgba(0,0,0,0.05);
	stroke: none;
}
circle.connector:hover{
	fill: rgba(0,0,0,0.6);
}

#backdrop{
	fill: transparent;
}

.arrow circle{
	stroke: none;
	fill: white;
}
.arrow text{
	fill: blue;
	stroke: none;
}

.arrow:hover circle{
	fill: rgba(0,0,255,0.3);
}
