body{
	background: #0f3a09;
}

a{
	color: #0c0061;
}

code{
	background: #cccccc;
	border-color: #0f3a09;
}

.pending a{
	color: #ffe062;
}
.open>a{
	color: #0f3a09;
}

.completed>a:after{
	content: " ✓";
}

.canceled>a{
	color: #414141;
}

li:hover > a,
a:hover{
	color: red;
}

fieldset,table{
	background: rgba(255,255,255,0.49);
}

legend{
	background: #82987f;
}

.share, .share>legend{
		background:#8cff7e;
}

.button{
	background: white;
}

#announce a{
	color:black;
}

table.diagram .step,
body > a.symbol {
	background: white;
}

.right a {
	background: white;
	color: red;
}

.infos span{
	background: lime;
}
.warnings span{
	background: yellow;
}

.errors span{
	background: orange;
}

.search label{
	color: white;
}
