body{
	margin-left: 160px;
	margin-top: 25px;
	font-family: sans-serif;
	position: relative;
}

a{
	text-decoration:none;
}

fieldset{
	position: relative;
	background: white;
	margin-top: 5px;
}

table{
	background: white;
}

img[alt$=">"] {
  float:right;
}

img[alt$="<"] {
  float:left;
}

span.hover_h {
	float: right;
}

legend{
	padding: 0 5px;
	border-radius: 5px;
}

body > a.symbol {
	padding: 5px;
	border-radius: 5px;
}
#main_menu{
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	width: 150px;
}

#main_menu a{
	display: block;
	text-align: center;
}

.button{
	padding:2px;
	margin:5px;
	border-radius: 5px;
	border: 1px solid black;
}

.right{
	position: absolute;
	right: 0;
	top: 0;
}

.right a {
	border: 1px solid;
	border-radius: 5px;
	padding: 0 5px;
}


.right-fix{
	position: fixed;
	right: 0;
	top: 0;
	overflow: hidden;
	max-height: 25px;
	border: 1px solid red;
	border-radius: 5px;
	background: white;
}

.hover:hover{
	max-height: unset;
	max-width: unset;
}

.share{
	position: absolute;
	right: 0;
	top: 8px;
	height: 35px;
}

#announce{
	position: absolute;
	right: 3px;
	bottom: 0;
}

.notes .note{
	border: 1px solid;
	border-radius: 5px;
}

.infos {
	display: inline;
	margin: 5px;
}

.hidden{
	display: none;
}
.copytext{
	position: fixed;
	left: -100px;
	width: 90px;
}